.search-form {
  display: flex;
  justify-content: center;

  padding: 15px;

  background-image: linear-gradient(
    to right,
    #e6c9ea 15%,
    #cef1ef 40%,
    #aedaea 65%,
    #d0bdee
  );
}

input {
  padding: 5px;
  margin-right: 5px;
}

.search-form button {
  width: 72px;
  height: 38px;

  border-radius: 10px;
  border: 1px solid rgb(224, 204, 255);

  background-color: #ebe8e8;
}
.info {
  display: flex;
  gap: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 300;
  max-height: 250px;
}
.photo-card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  border-radius: 10px;
  overflow: visible;
}
